section.Int
	div.Int-volver
		a.Int-volverBtn(href="index.html")
			|	Volver	
	h3.Int-title
		|	Nombre del producto nombre prod.
	div.Int-izq
		img.Int-imgBig(src="../images/02-interna/producto-big.jpg")
		ul.Int-galeria
			li.Int-item
				img.Int-imgThumb(src="../images/02-interna/producto-thumb.jpg")
			li.Int-item
				img.Int-imgThumb(src="../images/02-interna/producto-thumb.jpg")
			li.Int-item
				img.Int-imgThumb(src="../images/02-interna/producto-thumb.jpg")
	div.Int-der
		h4.Int-subTitle
			|	Descripci칩n
		p.Int-desc
			|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti dolores explicabo labore enim repellat earum perspiciatis.
		p.Int-precio
			|	$39.900
		div.Int-list
			div.Int-caract
				span.Int-carTitle
					|	Tama침o
				span.Int-carDesc
					|	Atributo
			div.Int-caract
				span.Int-carTitle
					|	C칩digo
				span.Int-carDesc
					|	Atributo
			div.Int-caract
				span.Int-carTitle
					|	Marca
				span.Int-carDesc
					|	Atributo
			div.Int-caract
				span.Int-carTitle
					|	Color
				span.Int-carDesc
					|	Atributo
			div.Int-caract
				span.Int-carTitle
					|	Material
				span.Int-carDesc
					|	Atributo
			div.Int-caract
				span.Int-carTitle
					|	Material
				span.Int-carDesc
					|	Atributo
	form.Int-agrega
		span.Int-canTxt
			|	Cantidad
		select.Int-cantidad(name="cantidad")
			option.Int-opt(value="value1")
				|	1
			option.Int-opt(value="value1")
				|	2
		a.Int-btnAgrega
			|	A침adir al carrito
	div.Int-redes
		a.Int-red
			span.Int-redTxt
				|	compartir
			img.Int-redImg(src="../images/02-interna/fb-int.png")
		a.Int-red
			span.Int-redTxt
				|	twittear
			img.Int-redImg(src="../images/02-interna/tw-int.png")
		a.Int-red
			span.Int-redTxt
				|	recomendar
			img.Int-redImg(src="../images/02-interna/gp-int.png")