/*FOOTER*/

.Footer
	display inline-block
	width 100%
	text-align center
	
	&-desc
		font-family 'archivo_narrowitalic'
		font-size 1.06em
		color $light_gray2
		font-weight 400
		
	&-contacto
		// display inline-block
		// width 100%
		display table
		margin 0 auto
		
	&-form
		max-width 700px
		display inline-block		
		text-align center
		width 100%
		
	&-title
		color $ocre
		font-weight 400
		font-family 'lobster_1.4regular'		
		font-size 1.75em
		margin 0 0 .4em
		
	&-field
		border none
		padding .35em .625em .35em
		
	&-label
		font-family 'pacificoregular'
		color $black
		font-weight 700
		font-size 1.06em
		vertical-align top
		display inline-block
		width 100%
		
	&-input
		background $beige
		border none
		width 95%
		height 20px
		padding .2em
		
	&-textarea
		background $beige
		border none
		width 85%
		height 58px
		resize none
		vertical-align middle
		padding .2em
		box-sizing border-box
	&-btn
		background $green
		color $white
		cursor pointer
		display inline-block
		vertical-align middle
		width 60px
		height 58px
		line-height 58px
		text-align center		
		font-weight 400
		font-family 'lobster_1.4regular'
		font-size 1.06em
		box-shadow 0px 14px 60px -16px rgba(0,0,0,3)
		
	&-imgC
		display inline-block
		width 190px
		height 184px
		margin 0 5px
		
		
	&-opi
		display inline-block
		width 80%
		margin 0 5%
		
		
	&-opitxt
		font-family 'archivo_narrowregular'
		font-weight 400
		font-size 1em
		color $light_gray2
		text-align left
		
	&-opiName
		text-align right
		font-family 'pacificoregular'
		color $black
		font-size 1.06em
		font-weight 700
		
	&-menu
		display none		
		
	&-list
		// display inline-block
		// width 100%
		margin 0 auto
		padding 0
		list-style none
		display table
	&-item
		display inline-block
		width 68px
		float left
		margin 0 8px
		
		&:first-child
			margin-left 0
		&:last-child
			margin-right 0
		
	&-link
		display inline-block
		width 100%
		font-family 'archivo_narrowregular'
		font-weight 400
		color black
		font-size 0.93em
		cursor pointer	
		
	&-tels
		margin 15px 0
		padding 17px
		border-top 1px solid $light_gray
		border-bottom 1px solid $light_gray
		
	&-tel
		cursor pointer		
		font-family 'pathway_gothic_oneregular'
		font-size 1.12em
		font-weight 400
		color $gray3
		display inline-block
		margin 10px 40px
		
	&-icon
		width 23px
		height 23px
		vertical-align middle
		
	&-telTxt
		vertical-align middle
		
	&-copy
		display inline-block
		width 100%		
	&-copyText
		font-family 'pathway_gothic_oneregular'
		font-weight 400
		font-size 1.12em
		color $black2
	&-copyLink
		color $fucsia
		cursor pointer
		font-weight 700
@media screen and (min-width:700px)
	.Footer
		&-label
			width 28%
			float left	
			
		&-input
			width 70%
			float left
			
		&-textarea
			width 60%
			float left
			
		&-btn
			float left
			width 10%
			
		&-opi			
			width 355px
			margin 0
			margin-left 15px
	
/*Tablet Landscape*/
@media screen and (min-width:1050px)
	.Footer
		&-form		
			text-align right
			float left
			max-width 416px
			width auto
		&-title
			text-align left
		&-label
			width auto
			float none
			
		&-btn
			float right
			width 60px
			height 58px
			
		&-input
			width 310px
			float none
			
		&-textarea
			width 248px
			float none
			
		&-imgC			
			float left
			
		&-opi
			width 355px
			margin-left 15px
			float left
			
		&-menu
			display inline-block
			width 100%
			margin 15px 0
			
		&-tel			
			margin 0 40px
			
		&-copy		
			margin-bottom 55px