footer.Footer
	div.u-centrar
		h4.Footer-desc
			|	Encuentra anchetas y regalos empresariales que fortalecerán tus relaciones en el trabajo, arma tu producto con chocolates, vinos, trufas como lo quieras.
		div.Footer-contacto
			form.Footer-form
				h3.Footer-title
					|	Escribenos
				fieldset.Footer-field
					label.Footer-label
						|	Nombre
					input.Footer-input(type="text", name="nombre")
				fieldset.Footer-field
					label.Footer-label
						|	E-mail
					input.Footer-input(type="text", name="correo")
				fieldset.Footer-field
					label.Footer-label
						|	Comentario
					textarea.Footer-textarea(name="mensaje")
					a.Footer-btn(href="")
						|	Enviar
			div.Footer-imgC
				img.Footer-img(src="../images/01-index/chocolate_pie.png")
			div.Footer-opi
				h3.Footer-title
					|	Tu opinión es importante
				p.Footer-opitxt
					|	Agradezco la puntualidad, me informan que ya fue recibido a satisfacción. Hasta una proxima oportunidad.
				p.Footer-opiName
					|	Diego
		nav.Footer-menu
			ul.Footer-list
				li.Footer-item
					a.Footer-link
						|	Inicio
				li.Footer-item
					a.Footer-link
						|	Regalos
				li.Footer-item
					a.Footer-link
						|	Detalles Empresariales
				li.Footer-item
					a.Footer-link
						|	Formas de Pago
				li.Footer-item
					a.Footer-link
						|	Preguntas Frecuentes
				li.Footer-item
					a.Footer-link
						|	Mapa del Sitio
				li.Footer-item
					a.Footer-link
						|	Quiénes Somos
				li.Footer-item
					a.Footer-link
						|	¿Dudas con tu compra?
				li.Footer-item
					a.Footer-link
						|	Términos y Condiciones
				li.Footer-item
					a.Footer-link
						|	Política de Privacidad
				li.Footer-item
					a.Footer-link
						|	Noticias
				li.Footer-item
					a.Footer-link
						|	Contáctenos
		div.Footer-tels
			div.Footer-tel
				img.Footer-icon(src="../images/01-index/ico_home.png")
				span.Footer-telTxt
					|	Bogotá - Colombia
			a.Footer-tel(href="tel:3112807370")
				img.Footer-icon(src="../images/01-index/ico_cel.png")
				span.Footer-telTxt
					|	(57) 311 2807370
			a.Footer-tel(href="tel:0312610582")
				img.Footer-icon(src="../images/01-index/ico_tel_pie.png")
				span.Footer-telTxt
					|	(57-1) 2610582
		div.Footer-copy
			h5.Footer-copyText
				|	 La Confitería todos los derechos reservados 2016.
				br
				|	Diseño, desarrollo y posicionamiento SEO por
				a.Footer-copyLink(href="http://www.paxzu.co/", target="_blank")
					|	PAXZU