div.Buscar
	div.u-centrar.Buscar-busqRed
		div.Buscar-izq
			form.Buscar-form
				label.Buscar-label
					|	Búsqueda
				input.Buscar-input(type="text", name="palabras")
				a.Buscar-formBtn(href="")
					img(src="../images/01-index/btn-form.jpg")
		div.Buscar-der
			div.Buscar-redes
				span.Buscar-label
					|	Siguenos en:
				a.Buscar-red(href="")
					img(src="../images/01-index/ig.png")
				a.Buscar-red(href="")
					img(src="../images/01-index/tw.png")
				a.Buscar-red(href="")
					img(src="../images/01-index/fb.png")
				a.Buscar-red(href="")
					img(src="../images/01-index/gp.png")
				a.Buscar-red(href="")
					img(src="../images/01-index/rs.png")
				a.Buscar-red(href="")
					img(src="../images/01-index/bg.png")