section.Coments
	form.Coments-form
		h3.Coments-title
			|	Dejanos un comentario
		fieldset.Coments-field
			label.Coments-label
				|	Nombre
			input.Coments-input(type="text", name="nombre")
		fieldset.Coments-field
			label.Coments-label
				|	E-mail
			input.Coments-input(type="text", name="correo")
		fieldset.Coments-field
			label.Coments-label
				|	Comentario
			textarea.Coments-textarea(name="mensaje")
			a.Coments-btn(href="")
				|	Publicar comentario
	div.Coments-all
		h3.Coments-title
			|	Todos los comentarios
		div.Coments-item
			h5.Coments-autor
				|	Sebastian
			p.Coments-desc
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est voluptatem accusamus molestiae eaque perspiciatis mollitia. Ullam eveniet tenetur dolore consequatur itaque optio tempora sed corrupti.
		div.Coments-item
			h5.Coments-autor
				|	Sthefany
			p.Coments-desc
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est voluptatem accusamus molestiae eaque perspiciatis mollitia. Ullam eveniet tenetur dolore consequatur itaque optio tempora sed corrupti.
		div.Coments-item
			h5.Coments-autor
				|	Jhonatan
			p.Coments-desc
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est voluptatem accusamus molestiae eaque perspiciatis mollitia. Ullam eveniet tenetur dolore consequatur itaque optio tempora sed corrupti.
		div.Coments-ver
			a.Coments-verBtn(href="")
				|	Ver más comentarios