section.Carrito
	div.u-centrar
		img.Carrito-img(src="../images/01-index/carrito.jpg")
		h5.Carrito-desc
			|	Tus compras:
		span.Carrito-txt
			|	Tienes 256 productos agregados
		a.Carrito-btn(href="#")
			img.Carrito-icon(src="../images/01-index/ver.png")
			span.Carrito-btnTxt
				|	Ver Carrito
		a.Carrito-btn(href="#")
			img.Carrito-icon(src="../images/01-index/check.png")
			span.Carrito-btnTxt
				|	Check out
		a.Carrito-btn(href="#")
			img.Carrito-icon(src="../images/01-index/vaciar.png")
			span.Carrito-btnTxt
				|	Vaciar carrito