/*FILTRO*/

.Filtro
	display inline-block
	float left
	width 300px
	height auto
	margin 25px 0
	background $white

	&-title
		margin .4em 0 .4em 12px
		color $fucsia
		font-family 'lobster_1.4regular'
		font-size 1.56em
		text-align left		
		font-weight 400
		
	&-cat
		display inline-block
		float left
		width 100%
	&-catTitle
		font-family 'lobster_1.4regular'
		font-size 1.56em
		color $black
		margin 0 0 .4em 12px
		padding-top .6em
		font-weight 400
		border-top 1px solid $light_gray
		text-align left
		cursor pointer
		
	&-list
		display inline-block
		width 100%
		list-style none
		margin 0
		margin-left 12px
		margin-bottom 18px
		padding 0
		text-align left
		
	&-link
		cursor pointer
		color $gray2
		font-family 'corbelregular'
		font-weight 400
		font-size 1.12em