/*FILTRO*/

.Filtro
	display inline-block
	float left
	width 95%
	height auto
	margin 25px 2.5%
	background $white

	&-title
		margin .4em 0
		color $fucsia
		font-family 'lobster_1.4regular'
		font-size 1.56em		
		font-weight 400
		
	&-cat
		display inline-block
		float left
		width 100%
	&-catTitle
		font-family 'lobster_1.4regular'
		font-size 1.56em
		color $black
		margin 0 0 .4em
		padding-top .6em
		font-weight 400
		border-top 1px solid $light_gray		
		cursor pointer
		
	&-list
		display inline-block
		width 100%
		list-style none
		margin 0		
		margin-bottom 18px
		padding 0		
		
	&-link
		cursor pointer
		color $gray2
		font-family 'corbelregular'
		font-weight 400
		font-size 1.12em
		
@media screen and (min-width:1050px)
	.Filtro
		width 250px
		margin 25px 0
		
		&-title		
			text-align left
			margin .4em 0 .4em 12px
			
		&-catTitle		
			margin 0 0 .4em 12px
			padding-top .6em
			border-top 1px solid $light_gray
			text-align left
		
		&-list			
			margin 0
			margin-left 12px
			margin-bottom 18px			
			text-align left