aside.Filtro
	h3.Filtro-title
		|	Filtrar
	div.Filtro-cat
		h4.Filtro-catTitle
			|	Categoría Producto
		ul.Filtro-list
			li.Filtro-item
				a.Filtro-link
					|	Subcategoría del producto
			li.Filtro-item
				a.Filtro-link
					|	Subcategoría del producto
		h4.Filtro-catTitle
			|	Categoría Producto
		ul.Filtro-list
			li.Filtro-item
				a.Filtro-link
					|	Subcategoría del producto
			li.Filtro-item
				a.Filtro-link
					|	Subcategoría del producto
			li.Filtro-item
				a.Filtro-link
					|	Subcategoría del producto
			li.Filtro-item
				a.Filtro-link
					|	Subcategoría del producto
		h4.Filtro-catTitle
			|	Categoría Producto
		ul.Filtro-list
			li.Filtro-item
				a.Filtro-link
					|	Subcategoría del producto
			li.Filtro-item
				a.Filtro-link
					|	Subcategoría del producto
			li.Filtro-item
				a.Filtro-link
					|	Subcategoría del producto
			li.Filtro-item
				a.Filtro-link
					|	Subcategoría del producto
		h4.Filtro-catTitle
			|	Categoría Producto
		ul.Filtro-list
			li.Filtro-item
				a.Filtro-link
					|	$ 0 - $000,000
			li.Filtro-item
				a.Filtro-link
					|	$ 000,000 - $000,000
			li.Filtro-item
				a.Filtro-link
					|	$ 000,000 - $000,000
			li.Filtro-item
				a.Filtro-link
					|	$ 000,000 - $000,000