header.Header
	div.u-centrar
		div.Header-izq
			div.Header-registro
				a.Header-btn(href="")
					img.Header-btnImg(src="../images/01-index/ico_ing.png")
					span.Header-btnTxt
						|	Ingresar
				a.Header-btn(href="")
					img.Header-btnImg(src="../images/01-index/ico_reg.png")
					span.Header-btnTxt
						|	Regístrate
			div.Header-menuIzq
				a.Header-menuBtn(href="")
					|	Regalos
				a.Header-menuBtn(href="")
					|	Regalos Empresariales
				a.Header-menuBtn(href="")
					|	Designarte
				a.Header-menuBtn(href="")
					|	Formas de pago
		a.Header-logoLink(href="#")
			h1.Header-logo
				|	Designarte
		div.Header-der
			div.Header-contacto
				span.Header-contactoTxt
					|	Llámanos
				a.Header-btn(href="")
					img.Header-btnImg(src="../images/01-index/ico_wap.png")
					span.Header-btnTxt
						|	(57) 311 2807370
				a.Header-btn(href="")
					img.Header-btnImg(src="../images/01-index/ico_tel.png")
					span.Header-btnTxt
						|	(57-1) 2610582
			div.Header-menuDer
				a.Header-menuBtn(href="")
					|	Preguntas Frecuentes
				a.Header-menuBtn(href="")
					|	Ciudades de envío
				a.Header-menuBtn(href="")
					|	Noticias
				a.Header-menuBtn(href="")
					|	Contáctenos
		div.u-centrar.Header-busqRed
			div.Header-izq
				form.Header-form
					label.Header-label
						|	Búsqueda
					input.Header-input(type="text", name="palabras")
					a.Header-formBtn(href="")
						img(src="../images/01-index/btn-form.jpg")
			div.Header-der
				div.Header-redes
					span.Header-label
						|	Siguenos en:
					a.Header-red(href="")
						img(src="../images/01-index/ig.png")
					a.Header-red(href="")
						img(src="../images/01-index/tw.png")
					a.Header-red(href="")
						img(src="../images/01-index/fb.png")
					a.Header-red(href="")
						img(src="../images/01-index/gp.png")
					a.Header-red(href="")
						img(src="../images/01-index/rs.png")
					a.Header-red(href="")
						img(src="../images/01-index/bg.png")