header.Header
	div.u-centrar
		div.Header-izq
			div.Header-registro
				a.Header-btn(href="")
					img.Header-btnImg(src="../images/01-index/ico_ing.png")
					span.Header-btnTxt
						|	Ingresar
				a.Header-btn(href="")
					img.Header-btnImg(src="../images/01-index/ico_reg.png")
					span.Header-btnTxt
						|	Regístrate
			div.Header-menuIzq
				a.Header-menuBtn(href="")
					|	Regalos
				a.Header-menuBtn(href="")
					|	Regalos Empresariales
				a.Header-menuBtn(href="")
					|	Designarte
				a.Header-menuBtn(href="")
					|	Formas de pago
			div.Header-menuMovil
				a.Header-btnMovil				
					img.Header-movImg(src="../images/01-index/btn_contacto_movil.png")
				div.Header-btnMovil(href="")
					div.Header-alerta
						|	0
					a.Header-btnMovilLink(href="")
						img.Header-movImg(src="../images/01-index/btn_carrito_movil.png")
				a.Header-btnMovil--small(href="")
					img.Header-movImg(src="../images/01-index/btn_tel_movil.png")
		a.Header-logoLink(href="#")
			h1.Header-logo
				|	Designarte
		div.Header-der
			div.Header-contacto
				span.Header-contactoTxt
					|	Llámanos
				a.Header-btn(href="")
					img.Header-btnImg(src="../images/01-index/ico_wap.png")
					span.Header-btnTxt
						|	(57) 311 2807370
				a.Header-btn(href="")
					img.Header-btnImg(src="../images/01-index/ico_tel.png")
					span.Header-btnTxt
						|	(57-1) 2610582
			div.Header-menuDer
				a.Header-menuBtn(href="")
					|	Preguntas Frecuentes
				a.Header-menuBtn(href="")
					|	Ciudades de envío
				a.Header-menuBtn(href="")
					|	Noticias
				a.Header-menuBtn(href="")
					|	Contáctenos
			a.Header-mainMenu(href="")
				img.Header-movImg(src="../images/01-index/btn_menu_movil.png")

		div.Header-contactoMovil
			a.Header-btn(href="")
				img.Header-btnImg(src="../images/01-index/ico_wap.png")
				span.Header-btnTxt
					|	(57) 311 2807370
			a.Header-btn(href="")
				img.Header-btnImg(src="../images/01-index/ico_tel.png")
				span.Header-btnTxt
					|	(57-1) 2610582