/*PRODUCTOS*/

.Productos
	display inline-block
	float right
	width 100%
	// padding-left 15px
	height auto
	margin 25px 0

	&-item
		display inline-block
		position relative
		max-width 236px
		width 100%
		text-align center
		background $white
		margin 0 1.5% 25px
		vertical-align top
		
	&-link
		cursor pointer
		
	&-img
		max-width 236px
		max-height 236px
		
	&-title
		font-family 'corbelregular'
		font-weight 400
		font-size 1em
		color $gray2
		min-height 2.81em
		margin 0
		border-top 1px solid $light_gray
	&-precio
		margin 0
		color $ocre
		font-family 'lobster_1.4regular'
		font-weight 400
		font-size 1.67em
		
	&-btn
		font-family 'lobster_1.4regular'
		font-weight 400
		font-size 1.36em
		color $white
		display inline-block
		width 111px
		height 43px
		line-height 43px
		box-shadow 0px 16px 60px -15px rgba(0,0,0,3)
		
		&:nth-child(2)
			background $pink
			float left
			
		&:nth-child(3)
			background $green
			float right
			
	&-flag
		position absolute
		top 0
		left 0
		display inline-block
		width 85px
		height 85px
		
	&-otros
	&-otrosList
		display inline-block
		width 100%
		
@media screen and (min-width:1050px)
	.Productos	
		width 780px
		
		&-item			
			width 30%
			margin 0 1.5% 50px
			
		&-title		
			font-size 1.12em
			
		&-precio
			font-size 1.87em
			
		&-btn
			font-size 1.56em
			
		&-otrosList
			& .Productos-item
				width 22%
				margin 0 12px 50px
				