section.Productos-otros
	h3.Coments-title
		|	Otros productos
	div.Productos-otrosList
		div.Productos-item
			a.Productos-link(href="interna.html")
				img.Productos-img(src="../images/productos/sw_toy.jpg")
				h2.Productos-title
					|	Nombre del producto nombre prod.
				p.Productos-precio
					|	$39.900
			a.Productos-btn(href="")
				|	A単adir
			a.Productos-btn(href="")
				|	Ver
		div.Productos-item
			a.Productos-link(href="interna.html")
				img.Productos-img(src="../images/productos/lonchera.jpg")
				h2.Productos-title
					|	Nombre del producto nombre prod.
				p.Productos-precio
					|	$39.900
			a.Productos-btn(href="")
				|	A単adir
			a.Productos-btn(href="")
				|	Ver
		div.Productos-item
			a.Productos-link(href="interna.html")
				img.Productos-img(src="../images/productos/muppet.jpg")
				h2.Productos-title
					|	Nombre del producto
				p.Productos-precio
					|	$39.900
			a.Productos-btn(href="")
				|	A単adir
			a.Productos-btn(href="")
				|	Ver
		div.Productos-item
			a.Productos-link(href="interna.html")
				img.Productos-img(src="../images/productos/breaking.jpg")
				h2.Productos-title
					|	Nombre del producto nombre prod.
				p.Productos-precio
					|	$39.900
			a.Productos-btn(href="")
				|	A単adir
			a.Productos-btn(href="")
				|	Ver