section.Productos
	div.Productos-item
		a.Productos-link(href="#")
			img.Productos-img(src="../images/productos/mug_mario.jpg")
			h2.Productos-title
				|	Nombre del producto nombre prod.
			p.Productos-precio
				|	$39.900
		a.Productos-btn(href="")
			|	Añadir
		a.Productos-btn(href="")
			|	Ver
		div.Productos-flag
			img(src="../images/01-index/new.png")
	div.Productos-item
		a.Productos-link(href="#")
			img.Productos-img(src="../images/productos/pig.jpg")
			h2.Productos-title
				|	Nombre del producto nombre prod.
			p.Productos-precio
				|	$39.900
		a.Productos-btn(href="")
			|	Añadir
		a.Productos-btn(href="")
			|	Ver
	div.Productos-item
		a.Productos-link(href="#")
			img.Productos-img(src="../images/productos/shark.jpg")
			h2.Productos-title
				|	Nombre del producto nombre prod.
			p.Productos-precio
				|	$39.900
		a.Productos-btn(href="")
			|	Añadir
		a.Productos-btn(href="")
			|	Ver
	div.Productos-item
		a.Productos-link(href="#")
			img.Productos-img(src="../images/productos/mug_sw.jpg")
			h2.Productos-title
				|	Nombre del producto nombre producto
			p.Productos-precio
				|	$39.900
		a.Productos-btn(href="")
			|	Añadir
		a.Productos-btn(href="")
			|	Ver
	div.Productos-item
		a.Productos-link(href="#")
			img.Productos-img(src="../images/productos/delantal_sw.jpg")
			h2.Productos-title
				|	Nombre del producto nombre prod.
			p.Productos-precio
				|	$39.900
		a.Productos-btn(href="")
			|	Añadir
		a.Productos-btn(href="")
			|	Ver
	div.Productos-item
		a.Productos-link(href="#")
			img.Productos-img(src="../images/productos/sw_toy.jpg")
			h2.Productos-title
				|	Nombre del producto nombre prod.
			p.Productos-precio
				|	$39.900
		a.Productos-btn(href="")
			|	Añadir
		a.Productos-btn(href="")
			|	Ver
	div.Productos-item
		a.Productos-link(href="#")
			img.Productos-img(src="../images/productos/lonchera.jpg")
			h2.Productos-title
				|	Nombre del producto nombre prod.
			p.Productos-precio
				|	$39.900
		a.Productos-btn(href="")
			|	Añadir
		a.Productos-btn(href="")
			|	Ver
	div.Productos-item
		a.Productos-link(href="#")
			img.Productos-img(src="../images/productos/muppet.jpg")
			h2.Productos-title
				|	Nombre del producto
			p.Productos-precio
				|	$39.900
		a.Productos-btn(href="")
			|	Añadir
		a.Productos-btn(href="")
			|	Ver
	div.Productos-item
		a.Productos-link(href="#")
			img.Productos-img(src="../images/productos/breaking.jpg")
			h2.Productos-title
				|	Nombre del producto nombre prod.
			p.Productos-precio
				|	$39.900
		a.Productos-btn(href="")
			|	Añadir
		a.Productos-btn(href="")
			|	Ver