@import "nib"
@import "normalize.styl"
@import "fonts.styl"

$white = #FFF

$black = #000
$black2= #333

$gray = #666666
$gray2 = #575756
$gray3 = #706F6F
$light_gray = #D9D9D9
$light_gray2 = #9C9C9B
$light_gray3 = #B1B1B1
$light_gray4 = #ECECEC

$fucsia = #AF2266
$fucsia2 = #950C55
$fucsia3 = #B02769

$pink = #D51866

$green = #00A099

$ocre = #BEA146
$ocre2 = #E7C350

$beige = #F5EEE2

html
	font-size 16px
	font-family: 'archivo_narrowregular'
	height 100%

body	
	height 100%
	
img
	max-width 100%
	max-height 100%

a
	text-decoration none
	
.u-centrar
	margin 0 auto
	max-width 1050px
	text-align center
	display inline-block
	width 100%
	
.bg-main
	width 100%
	display inline-block
	background-image url('../images/01-index/bg-main.jpg')
	text-align center
	
.Miga
	display inline-block
	width 95%
	font-family 'corbelitalic'
	color $gray
	text-align center
	font-size 1.12em
	margin 1em 2.5%
	
	& a
		color $gray
		margin-left 5px
		
.Txt-intro
	display inline-block
	width 100%
	font-family 'corbelitalic'
	color $gray2
	text-align center
	font-size 1.12em
	background $white
	
.Txt-introP
	max-width 700px
	display inline-block
	margin 1em
	

/*HEADER*/
@import "../components/Header/estilos.styl"

/*MENU MOVIL*/
@import "../components/Menu/estilos.styl"

/*BUSQUEDA Y REDES*/
@import "../components/Buscar/estilos.styl"

/*FILTRO*/
@import "../components/Filtro/estilos.styl"

/*PRODUCTOS*/
@import "../components/Productos/estilos.styl"

/*INTERNA PRODUCTOS*/
@import "../components/Int/estilos.styl"

/*COMENTS*/
@import "../components/Coments/estilos.styl"

/*FOOTER*/
@import "../components/Footer/estilos.styl"

/*CARRITO*/
@import "../components/Carrito/estilos.styl"