@import "nib"
@import "normalize.styl"
@import "fonts.styl"

$white = #FFF

$black = #000

$gray = #666666
$light_gray = #D9D9D9



html
	font-size 16px
	font-family: 'archivo_narrowregular'
	height 100%

body
	background url('../images/01-index/bg.png') fixed
	height 100%
	
img
	max-width 100%
	max-height 100%

a
	text-decoration none
	
.u-centrar
	margin 0 auto
	max-width 1050px
	text-align center
	display inline-block
	width 100%

/*HEADER*/
@import "../components/Header/estilos.styl"

/*FOOTER*/
// @import "../components/Footer/estilos.styl"