/*PAGINADOR*/

.Paginador	
	display inline-block
	text-align center
		
	&-nav
		display inline-block
		list-style none
		margin 0
		padding 0

	&-item
		cursor pointer
		display inline-block
		border-radius 50%
		width 15px
		height 15px
		margin 3px
		background $light_gray
		
		&.active
			background $green
		
	&-pnBtn
		cursor pointer
		
		&.deactivated
			opacity 0.2
			cursor default
			
.actions > *
	border none
	width 32px
	height 32px
	cursor pointer
	margin 5px
	
.actions > [data-action="prev"]
	background url('../images/01-index/btn-prev.jpg') no-repeat center
	
.actions > [data-action="next"]
	background url('../images/01-index/btn-next.jpg') no-repeat center